/build*/
/esp/build/
/book/book/
__pycache__/
*.py[cod]
*.bin
*.bin.json
*.nnue
*.nnue.json
*.npz
*.csv
*.jsonl
*.jsonl.meta.json
*.pgn
*.zst
*.pt
*.pt.json
/data/
!/test/training_games.pgn
!/test/training_labels.jsonl
!/test/training_labels.jsonl.meta.json
/.vscode/
